<html lang="en">

<head>
  <title>{{title}}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="/iec/normalize.css">
  <link rel="stylesheet" href="/iec/style.css">
  <link rel="stylesheet" href="/iec/iec.css">
</head>

<body>

  <div id="header">
    <span id="headertitle">{{title}}</span>
    <div style="position: relative; top: 20px; left: 20px;">
      <div>Name: {{displayName}}</div>
      <div>Client ID: {{clientID}}</div>
    </div>
  </div>

  <div id="content" class="row">
    <div class="row large-12 columns">
      <label>{{message}}</label>
      <a href="{{url}}">Login with your Akamai Google Account</a><br>
    </div>
  </div>


</body>

</html>
